# MySQL
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=gis_mt
MYSQL_USER=gis_mt_app
MYSQL_PASSWORD=change_me_app
MYSQL_PORT=3306


# RabbitMQ
RABBITMQ_USER=gis_mt
RABBITMQ_PASSWORD=change_me_rabbit
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672


# Авторизация True API на Windows-хосте
GIS_MT_AUTH_INN=0000000000
GIS_MT_CERT_THUMBPRINT=0000000000000000000000000000000000000000
GIS_MT_CERT_STORE_LOCATION=CurrentUser


# True API
GIS_MT_TRUE_API_V3_URL=https://markirovka.crpt.ru/api/v3/true-api
GIS_MT_TRUE_API_V4_URL=https://markirovka.crpt.ru/api/v4/true-api


# HTTP-параметры sync-worker
HTTP_TIMEOUT_SECONDS=60
HTTP_MAX_ATTEMPTS=5
GIS_MT_USER_AGENT=CZ-Async-Sync-Worker/0.1