# MySQL
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=gis_mt
MYSQL_USER=gis_mt_app
MYSQL_PASSWORD=change_me_app
MYSQL_PORT=3306


# RabbitMQ: учетная запись
RABBITMQ_USER=gis_mt
RABBITMQ_PASSWORD=change_me_rabbit
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672


# RabbitMQ: подключение worker
RABBITMQ_CONNECTION_NAME=gis-mt-sync-worker
RABBITMQ_HEARTBEAT_SECONDS=60
RABBITMQ_CONNECTION_TIMEOUT_SECONDS=30


# RabbitMQ: обработка
RABBITMQ_PREFETCH_COUNT=1
RABBITMQ_CONSUMER_COUNT=1
RABBITMQ_RETRY_DELAY_SECONDS=300
RABBITMQ_MAX_RETRIES=3


# RabbitMQ: маршрутизация
RABBITMQ_EXCHANGE_NAME=gis_mt.jobs

RABBITMQ_SYNC_QUEUE_NAME=gis_mt.jobs.sync_legal_entity
RABBITMQ_SYNC_ROUTING_KEY=jobs.sync_legal_entity

RABBITMQ_RETRY_QUEUE_NAME=gis_mt.jobs.sync_legal_entity.retry
RABBITMQ_RETRY_ROUTING_KEY=jobs.sync_legal_entity.retry

RABBITMQ_DEAD_QUEUE_NAME=gis_mt.jobs.sync_legal_entity.dead
RABBITMQ_DEAD_ROUTING_KEY=jobs.sync_legal_entity.dead


# Авторизация True API на Windows-хосте
GIS_MT_AUTH_INN=0000000000
GIS_MT_CERT_THUMBPRINT=0000000000000000000000000000000000000000
GIS_MT_CERT_STORE_LOCATION=CurrentUser


# True API
GIS_MT_TRUE_API_V3_URL=https://markirovka.crpt.ru/api/v3/true-api
GIS_MT_TRUE_API_V4_URL=https://markirovka.crpt.ru/api/v4/true-api


# HTTP-параметры sync-worker
HTTP_TIMEOUT_SECONDS=60
HTTP_MAX_ATTEMPTS=5
GIS_MT_USER_AGENT=CZ-Async-Sync-Worker/0.1

#DockerWorker
CERTIFICATE_AGENT_API_KEY=0000000000000000000000000000000000000000000000000000
CERTIFICATE_AGENT_URL=http://host.docker.internal:18771

CERTIFICATE_AGENT_TIMEOUT_SECONDS=240

PIPELINE_POLL_SECONDS=1
PIPELINE_SYNC_POLL_SECONDS=3
PIPELINE_STALE_AFTER_SECONDS=180
PIPELINE_AUTH_JOB_STALE_MINUTES=5
PIPELINE_RUN_TIMEOUT_SECONDS=21600

# Каталог документов
DOCUMENT_ROOT=/data/official
DOCUMENT_CATALOG_MAX_ENTRIES=20000